<div>Hello <%= @account.email %></div>

<div>You have pending retrospective tasks.</div>

<div>You can find them on <%= link_to 'your dashboard', @link %>. You might want to work on your actions before the next retropective</div>
