#action-editor {
  display: flex;
  flex-direction: column;

  #tasks-list {
    width: 200px;
    max-height: 200px;
    overflow-y: scroll;

    .task {
      background-color: lightgray;
      margin: 10px 0;
      padding: 5px;
    }
  }

  #assignee-select {
    margin-left: 20px;
    min-width: 200px;
  }
}
