.emoji-chip {
  border: 1px solid transparent;
  background-color: #00000030;
  border-radius: 15px;
  padding: 0px 5px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 2px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

  &:hover {
    background-color: #00000022;
  }

  &.own {
    border: 1px solid dodgerblue;
    color: dodgerblue;
    background-color: aliceblue;
  }

  .disabled {
    filter: grayscale(100%);
  }
}
