.reactions-bar {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

  .reaction {
    cursor: pointer;
  }
}
