#reflections-panel {
  z-index: 11;
  overflow-y: scroll;
  width: 18rem;
  max-width: 18rem;
}

#reflections-container::-webkit-scrollbar {
  display: none;
}

#reflections-container {
  -ms-overflow-style: none;
}
