#reflections-pannel {
  min-height: calc(100vh - 3.5rem);
  max-height: calc(100vh - 3.5rem);
}

#reflections-container::-webkit-scrollbar {
  display: none;
}

#reflections-container {
  -ms-overflow-style: none;
}
