#reflections-list {
   display: 'flex';
   flex-direction: 'column';
   flex-grow: 1;
   align-items: 'stretch';
   margin: 20px 0;
}

#action-editor-container {
  display: 'flex';
  flex-direction: 'column';
  flex-grow: 1;
  align-items: 'center';
}
