#right-panel {
  margin-left: 72px;
  transition-property: margin-left;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transform-origin: left;
  max-height: calc(100vh - 3.5rem);

  &.pushed-left {
    margin-left: 328px;
  }

  &.pushed-top {
    max-height: calc(100vh - 9.5rem);
  }
}
