#zones-container {
  .zone-column {
    .zone-header {
      padding: 10px 20px;
    }

    .scrolling-zone {
      padding: 0 20px 20px;
      display: flex;
      align-content: center;
      max-width: 35em;
      flex-direction: column;
    }

    .unread-notice {
      background: #000000aa;
      color: white;
      text-align: center;
      position: sticky;
      cursor: pointer;
      z-index: 2;
      width:100%;

      &.above {
        top: 20px;
      }

      &.below {
        bottom: 20px;
      }
    }
  }
}
