#zones-container {
  .zone-column {
    .unread-notice {
      background: #000000aa;
      color: white;
      text-align: center;
      margin: 0 -17px;
      cursor: pointer;
      z-index: 2;
      position: fixed;

      &.above {
        top: 70px;
      }

      &.below {
        bottom: 20px;
      }
    }
  }
}
