#reflections-list {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   align-items: stretch;
   margin: 20px 0;
}

#action-editor-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
}

#actions-zone {
  #discussed-reflections-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    #discussed-reflection {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      max-width: 450px;
    }
  }
}
