.reflection {
  overflow-wrap: break-word;
  max-width: 300px;

  &.glowing {
    border-color: goldenrod !important;
  }
}

.topic {
  .reflection {
    box-shadow: -1px -1px #00000044, 1px 1px #00000044;
  }
}
