.reflection {
  overflow-wrap: break-word;
  max-width: 300px;

  &.stack {
    cursor: pointer;
  }

  &.stack-2 {
    top: -10px;
    &:hover { top: -13px; }
  }

  &.stack-1 {
    top: -5px;
    &:hover { top: -8px; }
  }

  &.glowing {
    border-color: goldenrod !important;
  }

  &.highlighted {
    border: 2px dashed red !important;
  }
}

.topic {
  .reflection {
    box-shadow: -1px -1px #00000044, 1px 1px #00000044;
  }
}
