.sticky-bookmark {
  display: flex;
  padding: 5px;
  flex-grow: 1;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;

  &.space-between {
    justify-content: space-between;
  }
}
