<div>Hello <%= @account.username %></div>
<div>Click on <%= link_to 'this link', password_reset_url(id: @account.password_reset_token, host: 'https://docto-retrospective.herokuapp.com') %> to reset your password</div>
