#img-cloud {
  position: absolute;
  left: 0;
  z-index: 1;
}

.absolute-zone-label {
  position: absolute;
  background: #00000099;
  padding: 4px;
  color: white;
}

#zone-Wind {
  position: absolute;
  width: 160px;
  height: 90px;
  top: 60px;
  left: 200px;

  .zone-label {
    top: 90px;
    left: 50px;
  }
}

#zone-Anchor {
  position: absolute;
  width: 260px;
  height: 200px;
  top: 270px;
  left: 190px;

  .zone-label {
    top: 150px;
    left: 90px;
  }
}


#zone-Rocks {
  position: absolute;
  width: 250px;
  height: 160px;
  top: 220px;
  right: 340px;

  .zone-label {
    top: 170px;
    left: 90px;
  }
}

#zone-Island {
  position: absolute;
  width: 320px;
  height: 270px;
  top: 50px;
  right: 0;

  .zone-label {
    top: 200px;
    left: 120px;
  }
}
