#sailboat {
  img {
    max-width: fit-content;
  }

  #img-sailboat {
    width: 1000px;
    top: 100px;
    left: -90px;
    position: relative;
  }

  #img-cloud {
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 1;
  }

  .absolute-zone-label {
    position: absolute;
    background: #00000099;
    padding: 4px;
    color: white;
  }

  #zone-Wind {
    position: absolute;
    width: 160px;
    height: 90px;
    top: 60px;
    left: 200px;

    .zone-label {
      top: 90px;
      left: 50px;
    }
  }

  #zone-Anchor {
    position: absolute;
    width: 260px;
    height: 200px;
    top: 340px;
    left: 90px;

    .zone-label {
      top: 150px;
      left: 90px;
    }
  }

  #zone-Rocks {
    position: absolute;
    width: 200px;
    height: 130px;
    top: 340px;
    left: 590px;

    .zone-label {
      top: 170px;
      left: 90px;
    }
  }

  #zone-Island {
    position: absolute;
    width: 320px;
    height: 270px;
    top: 130px;
    left: 800px;

    .zone-label {
      top: 200px;
      left: 120px;
    }
  }
}
