.zone {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  flex-wrap: wrap;

  .hint {
    font-size: 10px;
  }

  .choice {
    border-radius: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &.red {
      background-color: #510B0B;

      &.selected {
        background-color: #EF3127;
      }
    }

    &.orange {
      background-color: #554615;

      &.selected {
        background-color: #F7D44E;
      }
    }

    &.green {
      background-color: #355615;

      &.selected {
        background-color: #98F44B;
      }
    }
  }
}
