.zoomable {
  transform-origin: 0% 0% 0px
}

.zoom-3 {
  transform: scale(0.7)
}

.zoom-2 {
  transform: scale(0.8)
}

.zoom-1 {
  transform: scale(0.9)
}

.zoom1 {
  transform: scale(1.1)
}

.zoom2 {
  transform: scale(1.2)
}
